
<div style="position: absolute;top:50%;left: 50%;transform:translate(-50%,-50%);">
    <table>
        <tbody>
        <tr>
            <td></td>
            <td>
                <img id="50" class="img-style" ng-src="{{allPerson[49].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==49]"></td>
            <td><img class="img-style" ng-src="{{allPerson[33].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==33]"></td>
            <td></td>
            <td></td>
            <td></td>
            <td><img class="img-style" ng-src="{{allPerson[34].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==34]"></td>
            <td><img class="img-style" ng-src="{{allPerson[35].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==35]"></td>
            <td></td>
        </tr>
        <tr>
            <td><img class="img-style" ng-src="{{allPerson[48].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==48]"></td>
            <td><img class="img-style" ng-src="{{allPerson[32].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==32]"></td>
            <td><img class="img-style" ng-src="{{allPerson[16].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==16]"></td>
            <td><img class="img-style" ng-src="{{allPerson[17].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==17]"></td>
            <td></td>
            <td><img class="img-style" ng-src="{{allPerson[18].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==18]"></td>
            <td><img class="img-style" ng-src="{{allPerson[19].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==19]"></td>
            <td><img class="img-style" ng-src="{{allPerson[20].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==20]"></td>
            <td><img class="img-style" ng-src="{{allPerson[36].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==36]"></td>

        </tr>
        <tr>
            <td><img class="img-style" ng-src="{{allPerson[47].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==47]"></td>
            <td><img class="img-style" ng-src="{{allPerson[31].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==31]"></td>
            <td><img class="img-style" ng-src="{{allPerson[15].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==15]"></td>
            <td><img class="img-style" ng-src="{{allPerson[5].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==5]"></td>
            <td><img class="img-style" ng-src="img/face/示爱.png"></td>
            <td><img class="img-style" ng-src="{{allPerson[6].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==6]"></td>
            <td><img class="img-style" ng-src="{{allPerson[7].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==7]"></td>
            <td><img class="img-style" ng-src="{{allPerson[21].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==21]"></td>
            <td><img class="img-style" ng-src="{{allPerson[37].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==37]"></td>
        </tr>
        <tr>
            <td><img class="img-style" ng-src="img/face/可怜.png"></td>
            <td><img class="img-style" ng-src="{{allPerson[30].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==30]"></td>
            <td><img class="img-style" ng-src="{{allPerson[14].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==14]"></td>
            <td><img class="img-style" ng-src="{{allPerson[4].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==4]"></td>
            <td><img class="img-style" ng-src="{{allPerson[0].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==0]"></td>
            <td><img class="img-style" ng-src="{{allPerson[1].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==1]"></td>
            <td><img class="img-style" ng-src="{{allPerson[8].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==8]"></td>
            <td><img class="img-style" ng-src="{{allPerson[22].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==22]"></td>
            <td><img class="img-style" ng-src="img/face/无语.png"></td>
        </tr>
        <tr style="position: relative;">
            <td class="surprise-td-style"><img class="img-style" ng-src="{{allPerson[46].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==46]"></td>
            <td class="surprise-td-style"><img class="img-style" ng-src="{{allPerson[29].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==29]"></td>
            <td class="surprise-td-style"><img class="img-style" ng-src="{{allPerson[13].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==13]"></td>
            <td class="surprise-td-style"><img class="img-style" ng-src="{{allPerson[3].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==3]"></td>
            <td class="surprise-td-style"><img class="img-style" ng-src="{{allPerson[2].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==2]"></td>
            <td class="surprise-td-style"><img class="img-style" ng-src="{{allPerson[9].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==9]"></td>
            <td class="surprise-td-style"><img class="img-style" ng-src="{{allPerson[23].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==23]"></td>
            <td class="surprise-td-style"><img class="img-style" ng-src="{{allPerson[38].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==38]"></td>
        </tr>
        <tr>
            <td></td>
            <td><img class="img-style" ng-src="{{allPerson[45].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==45]"></td>
            <td><img class="img-style" ng-src="{{allPerson[28].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==28]"></td>
            <td><img class="img-style" ng-src="{{allPerson[12].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==12]"></td>
            <td><img class="img-style" ng-src="img/face/大笑.png"></td>
            <td><img class="img-style" ng-src="{{allPerson[10].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==10]"></td>
            <td><img class="img-style" ng-src="{{allPerson[24].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==24]"></td>
            <td><img class="img-style" ng-src="{{allPerson[39].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==39]"></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><img class="img-style" ng-src="{{allPerson[44].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==44]"></td>
            <td><img class="img-style" ng-src="{{allPerson[27].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==27]"></td>
            <td><img class="img-style" ng-src="{{allPerson[11].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==11]"></td>
            <td><img class="img-style" ng-src="{{allPerson[25].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==25]"></td>
            <td><img class="img-style" ng-src="{{allPerson[40].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==40]"></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><img class="img-style" ng-src="{{allPerson[43].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==43]"></td>
            <td><img class="img-style" ng-src="{{allPerson[26].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==26]"></td>
            <td><img class="img-style" ng-src="{{allPerson[41].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==41]"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><img class="img-style" ng-src="{{allPerson[42].portrait}}" ng-class="{true:'img-border-shadow'}[shawNumber==42]"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="win-per" class="round-win-person animate-show-hide" style="display: none" ng-show="awardPerson">
    <img ng-src="{{allPerson[shawNumber].portrait}}">
</div>
<!--<div id="gift-win" class="father-window animate-show-hide">-->
<div id="gift-win" class="father-window animate-show-hide" style="display: none;" ng-show="showAwardsMask">
    <div class="model-window" style="color: black" ng-click="closeWin()"></div>
    <div class="winer-person">
        <p>恭喜:<span ng-repeat="one in tempArray">{{one.name}} </span>获得</p>
    </div>

    <div class="gift-name">
        <img style="width: 150px;height: 150px;position: absolute;left: 32%;top: 60px" src="img/face/大笑.png">
        <p>{{giftArray[roundNumber].name}}</p></div>
</div>

